<div class="main-header">
    <div class="content-bg-wrap">
        <div class="content-bg bg-group"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                <div class="main-header-content">
                    <h1>THỐNG KÊ</h1>
                    <p>
                        Chào mừng bạn đến với bảng điều khiển thống kê và phân tích! Ở đây bạn sẽ thấy tất cả thống kê tiểu sử của bạn như: lượt truy cập, bạn bè mới, số lượt bình luận, thích và nhiều hơn nữa!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <img class="img-bottom" src="content/images/statistics-bottom.png" alt="friends">
</div>

@if (Model.Roles.Count != 0)
{
    if (Model.Roles[0] == "2")
    {
        @Html.Partial("_Expert")
    }
}
else
{
    @Html.Partial("_Student")
}
