<div class="waiting_loader" style="display: none"></div>

@Html.Partial("_ProfileSettings")

<!-- Your Account Personal Information -->

<div class="container">
    <div class="row">
        <div class="col-xl-9 push-xl-3 col-lg-9 push-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div id="partial">
            </div>
        </div>
        @Html.Partial("_ProfileSettingsResponsive")
    </div>
</div>

@if (ViewBag.newMember == "new")
{
    <!-- Window-popup Thank you -->
    <a data-toggle="modal" data-target="#type" id="type-button"></a>
    <div class="modal fade" id="type">
        <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="ui-block-title">
                <h6 class="title">Chào mừng bạn đến với <b>Olympus</b></h6>
            </div>

            <div class="ui-block-content">
                <p>Đầu tiên, hãy cập nhật một số thông tin cơ bản nào!</p>
                <p>Điều này sẽ giúp hệ thống chọn lựa những điều phù hợp nhất với bạn!</p>
                <div class="modal-button">
                    <a href="#" class="btn btn-primary btn-lg btn-icon-center" data-dismiss="modal" aria-label="Close">OK</a>
                </div>
            </div>

        </div>
    </div>
    <script>
        setTimeout(function () { $("#type-button").click(); }, 3000);
    </script>
}


<script>
    function getview(action) {
        if ($(".fakeloader").css("display") == "none") {
            $(".waiting_loader").css("display", "block");
        }
        var url = "/YourAccount/" + action;
        var temp = "";
        $("#partial").load(url, function (response, status, xhr) {
            if (status == "success") {
                $(".waiting_loader").css("display", "none");
                if (getQueryVariable("userType") != false) {
                    temp = "&userType=new";
                }
                window.history.pushState('', '', window.location.pathname + "?option=" + action.toLowerCase() + temp);
                initInput();
            }
        });
        $('#partial').hide().fadeIn(500);
        scrollto("#partial");
        var num_notirequest = parseInt($($(".notirequest")[0]).text());
        if (num_notirequest != 0) {
            $(".notirequest").html(num_notirequest);
            $(".notirequest").css("display", "table-cell");
        }
        else {
            $(".notirequest").css("display", "none");
            $("#empty-notirequest").css("display", "block");
        }
    }

    var option = getQueryVariable("option");
    getview(option);
</script>
