@model Framework.ViewModels.CalendarViewModel
<div class="waiting_loader" style="display: none"></div>

<!-- Styles for plugins -->
<link rel="stylesheet" href="content/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="content/css/fullcalendar.css" />
<link rel="stylesheet" href="content/css/simplecalendar.css" />
<link rel="stylesheet" href="content/css/bootstrap-select.css">
<link rel="stylesheet" href="content/css/daterangepicker.css">

<!-- Main Header Events -->
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>

<div class="main-header">
    <div class="content-bg-wrap">
        <div class="content-bg bg-events"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                <div class="main-header-content">

                    <h1>Khởi tạo lịch biểu</h1>
                    <p>
                        Chào mừng chuyên gia đến với Olympus!
                        <br />Hãy tạo lịch biểu tương ứng với thời gian rảnh rỗi của bạn. Điều này sẽ giúp Olympus dễ dàng tìm kiếm sự giúp đỡ của bạn hơn!
                    </p>
                    @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
               {
                   BackendUrl = Url.Action("Backend"),
                   ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
                   EventMoveHandling = DayPilot.Web.Mvc.Events.Calendar.EventMoveHandlingType.CallBack,
                   EventClickHandling = DayPilot.Web.Mvc.Events.Calendar.EventClickHandlingType.CallBack,
                   EventResizeHandling = DayPilot.Web.Mvc.Events.Calendar.EventResizeHandlingType.CallBack,
                   TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Calendar.TimeRangeSelectedHandlingType.JavaScript,
                   TimeRangeSelectedJavaScript = "dpc.timeRangeSelectedCallBack(start, end, null, { name: 'Free Time' });"
               })
                </div>
            </div>
        </div>
    </div>

    <img class="img-bottom" src="content/images/event-bottom.png" alt="friends">
</div>


<script>
    function Click() {
        $("th[data-date='" + $(".today-events-thumb .day-number ").text() + "']").click();
    }
    $("th.fc-day-header.fc-widget-header").click(function () {
        $(".day-number").text($(this).attr("data-date"));
        $(".card").remove();
        $("#calendar-list .no-past-events").remove();
        var title = $(this).attr("data-title");
        var timeList = $("span.event-status." + title + ".completed").closest("tr");
        var time;
        for (i = 0; i < timeList.length; i++) {
            time = $(timeList[i]).find(".fc-axis span").text();
            $("#calendar-list").append("<div class='card' style='display:none'><div class='card-header' role='tab'><div class='event-time'><time>" + time + "</time><div class='more'><svg class='olymp-three-dots-icon'><use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='content/icons/icons.svg#olymp-three-dots-icon'></use></svg><ul class='more-dropdown'><li> <a class='delete-event'>Xóa khung giờ này</a></li> </ul></div></div></div></div>");
            $(".card").slideDown();
        }
        if ($(".card").length == 0) {
            $("#calendar-list").append("<div class='no-past-events' style='padding: 65px 30px;'><svg class='olymp-month-calendar-icon'><use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='content/icons/icons.svg#olymp-month-calendar-icon'></use></svg><span>Chưa có thời gian rảnh!</span></div>");
        }
    })
    function getWeek(fromDate) {
        var sunday = new Date(fromDate.setDate(fromDate.getDate() - fromDate.getDay()))
           , result = [new Date(sunday)];
        while (sunday.setDate(sunday.getDate() + 1) && sunday.getDay() !== 0) {
            result.push(new Date(sunday));
        }
        return result;
    }
    function getDay(date) {
        var today = date;
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        return [mm + '/' + dd + '/' + yyyy, dd + '/' + mm + '/' + yyyy];
    }
    $(document).ready(function () {
        $("td.fc-widget-content").off();
        var days = ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'];
        var today = getDay(new Date());
        ddmm = today[1];
        mmdd = today[0];
        $(".day-number").text(ddmm);
        $("#datetimepicker").attr("value", ddmm);
        var dayTitle = new Date(mmdd);
        var dayName = days[dayTitle.getDay()] + ", ngày " + dayTitle.getDate() + " tháng " + (dayTitle.getMonth() + 1);
        $(".fc-center .date").html(dayName + "<span>, " + new Date(mmdd).getFullYear() + "</span>");
        var week = getWeek(new Date(mmdd));
        $("th.fc-day-header").each(function (index) {
            $(this).attr("data-date", getDay(week[index])[1]);
            if ($(this).attr("data-date") == ddmm) {
                $(this).click();
            }
        })
    });
    $("#add_event").click(function () {
        $("#datetimepicker").attr("value", $(".today-events-thumb .day-number ").text());
        $('.calendar .select-time + .bootstrap-select .dropdown-menu.inner li').removeClass("hidden").addClass("ok");
        $('.calendar .select-time + .bootstrap-select .dropdown-menu.inner li span.text').each(function () {
            var li = $(this);
            $('.today-events .event-time time').each(function () {
                if ($(this).text() == li.text()) {
                    li.closest("li").removeClass("ok");
                    return false;
                }
            })
        });
        $('.selectpicker.form-control').val($($('.calendar .select-time + .bootstrap-select .dropdown-menu.inner li.ok span.text')[0]).text().replace(/AM/gi, '').replace(/PM/gi, '').replace(/ /gi, ''));
        $('.selectpicker.form-control').selectpicker('refresh');
        $('.calendar .select-time + .bootstrap-select .dropdown-menu.inner li span.text').each(function () {
            var li = $(this);
            $('.today-events .event-time time').each(function () {
                if ($(this).text() == li.text()) {
                    li.closest("li").addClass("hidden").removeClass("ok");
                }
            })
        });

    })
    $(".row.calendar + button.btn.btn-breez.btn-lg.full-width").click(function () {
        $("tr[data-time='" + $(".selectpicker.form-control").val() + "']").find("." + $(".fc-day-header[data-date='" + $("#datetimepicker").val() + "']").attr('data-title')).addClass("completed")
        $("a.close.icon-close").click()
        setTimeout(function () {
            $("#thanks-button").click();
        }, 500);
    })
    $(document).on("click", ".delete-event", function () {
        $("tr[data-time='" + $(this).closest(".event-time").find("time").text().replace(/AM/gi, '').replace(/PM/gi, '').replace(/ /gi, '') + "']").find("." + $(".fc-day-header[data-date='" + $(".today-events-thumb .day-number ").text() + "']").attr('data-title')).removeClass("completed")
        setTimeout(function () {
            $("#thanks-button").click();
        }, 500);
    })
</script>
