@model Framework.ViewModels.CalendarViewModel

<!-- Styles for plugins -->
<link rel="stylesheet" href="content/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="content/css/fullcalendar.css" />
<link rel="stylesheet" href="content/css/simplecalendar.css" />
<link rel="stylesheet" href="content/css/bootstrap-select.css">
<link rel="stylesheet" href="content/css/daterangepicker.css">

<!-- Main Header Events -->

<div class="main-header">
    <div class="content-bg-wrap">
        <div class="content-bg bg-events"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                <div class="main-header-content">
                    <h1>Khởi tạo lịch biểu</h1>
                    <p>
                        Chào mừng chuyên gia đến với Olympus!
                        <br />Hãy tạo lịch biểu tương ứng với thời gian rảnh rỗi của bạn. Điều này sẽ giúp Olympus dễ dàng tìm kiếm sự giúp đỡ của bạn hơn!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <img class="img-bottom" src="content/images/event-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Events -->
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="events" role="tabpanel">

        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 calendar-left">
                    <div class="ui-block">
                        <div class="today-events calendar">
                            <div class="today-events-thumb">
                                <div class="date">
                                    <div class="day-number">13/12/2016</div>
                                    <div class="date-title">Lịch rảnh rỗi của bạn</div>
                                </div>
                            </div>

                            <div class="list">
                                <div class="control-block-button">
                                    <a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
                                        <svg class="olymp-plus-icon"><use xlink:href="content/icons/icons.svg#olymp-plus-icon"></use></svg>
                                    </a>
                                </div>

                                <div id="calendar-list" role="tablist" aria-multiselectable="true" class="day-event" date-month="12" date-day="2">
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <div class="event-time">
                                                <time datetime=""></time>
                                                <div class="more">
                                                    <svg class="olymp-three-dots-icon"><use xlink:href="content/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                                    <ul class="more-dropdown">
                                                        <li>
                                                            <a href="#">Xóa khung giờ này</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="ui-block">
                        <div id="calendar-full-1" class="fc fc-ltr fc-unthemed">
                            <div class="fc-toolbar">

                                <div class="fc-center">
                                    <h6 class="date">14, tháng 12 <span>2017</span></h6>
                                </div>

                                <ul class="nav nav-tabs fc-right" role="tablist">

                                    <li class="nav-item active">
                                        <a class="nav-link active" data-toggle="tab" href="#week" role="tab" aria-expanded="true">
                                            <svg class="olymp-week-calendar-icon"><use xlink:href="content/icons/icons.svg#olymp-week-calendar-icon"></use></svg>
                                        </a>
                                    </li>
                                </ul>

                                <div class="fc-clear"></div>
                            </div>
                            <div class="fc-view-container" style="">

                                <div class="tab-content">
                                    <div class="tab-pane active" id="week" role="tabpanel">
                                        <div class="fc-view fc-agendaWeek-view fc-agenda-view" style="">
                                            <table>
                                                <thead class="fc-head">
                                                    <tr>
                                                        <td class="fc-head-container fc-widget-header">
                                                            <div class="fc-row fc-widget-header" style="margin-right: 16.333px;">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="fc-axis fc-widget-header" style="width: 5px;"></th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-sun" data-date="">CHỦ NHẬT</th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-mon" data-date="">THỨ HAI</th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-tue" data-date="">THỨ BA</th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-wed" data-date="">THỨ TƯ</th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-thu" data-date="">THỨ NĂM</th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-fri" data-date="">THỨ SÁU</th>
                                                                            <th class="fc-day-header fc-widget-header" data-title="fc-sat" data-date="">THỨ BẢY</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody class="fc-body">
                                                    <tr>
                                                        <td class="fc-widget-content">
                                                            <div class="fc-time-grid-container fc-scroller" style="height: 400px;">
                                                                <div class="fc-time-grid">
                                                                    <div class="fc-bg">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="fc-axis fc-widget-content" style="width: 5px;"></td>
                                                                                    <td class="fc-day fc-widget-content fc-sun"></td>
                                                                                    <td class="fc-day fc-widget-content fc-mon"></td>
                                                                                    <td class="fc-day fc-widget-content fc-tue"></td>
                                                                                    <td class="fc-day fc-widget-content fc-wed"></td>
                                                                                    <td class="fc-day fc-widget-content fc-thu"></td>
                                                                                    <td class="fc-day fc-widget-content fc-fri"></td>
                                                                                    <td class="fc-day fc-widget-content fc-sat"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div><div class="fc-slats">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr data-time="06-07">
                                                                                    <td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>06AM - 07AM</span></td>
                                                                                    <td class="fc-widget-content">
                                                                                        <ul class="calendar-block-events"></ul>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr data-time="07-08" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>07AM - 08AM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="08-09" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>08AM - 09AM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="09-10" class="fc-minor">
                                                                                    <td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>09AM - 10AM</span></td>
                                                                                    <td class="fc-widget-content">
                                                                                        <ul class="calendar-block-events">
                                                                                            <li><span class="event-status fc-sun completed"></span>
                                                                                            <li><span class="event-status fc-mon completed"></span> </li>
                                                                                            <li><span class="event-status fc-tue "></span> </li>
                                                                                            <li><span class="event-status fc-wed "></span> </li>
                                                                                            <li><span class="event-status fc-thu "></span> </li>
                                                                                            <li><span class="event-status fc-fri "></span> </li>
                                                                                            <li><span class="event-status fc-sat "></span> </li>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr data-time="11-12" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>11AM - 12PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="12-13" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>12PM - 13PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="13-14" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>13PM - 14PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="14-15" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>14PM - 15PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="15-16" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>15PM - 16PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="16-17" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>16PM - 17PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="17-18" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>17PM - 18PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="18-19" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>18PM - 19PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="19-20" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>19PM - 20PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="20-21" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>20PM - 21PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="21-22">
                                                                                    <td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>21PM - 22PM</span></td>
                                                                                    <td class="fc-widget-content">
                                                                                        <ul class="calendar-block-events">
                                                                                            <li><span class="event-status fc-sun completed"></span> </li>
                                                                                            <li><span class="event-status fc-mon completed"></span> </li>
                                                                                            <li><span class="event-status fc-tue "></span> </li>
                                                                                            <li><span class="event-status fc-wed completed"></span> </li>
                                                                                            <li><span class="event-status fc-thu "></span> </li>
                                                                                            <li><span class="event-status fc-fri completed"></span> </li>
                                                                                            <li><span class="event-status fc-sat "></span> </li>
                                                                                        </ul>
                                                                                </tr>
                                                                                <tr data-time="22-23" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>22PM - 23PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                                <tr data-time="23-24" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 55px;"><span>23PM - 24AM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"></ul></td></tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div><div class="fc-content-skeleton"><table><tbody><tr><td class="fc-axis" style="width: 5px;"></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td></tr></tbody></table></div><hr class="fc-divider fc-widget-header" style="display: none;">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="no-past-events">
                                            <div class="control-block-button">

                                                <a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
                                                    <svg class="olymp-plus-icon"><use xlink:href="content/icons/icons.svg#olymp-plus-icon"></use></svg>
                                                    <div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 36px; top: -41.2px; background-color: rgb(255, 255, 255); transform: scale(2.60417);"></div></div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Window-popup Create Event -->
<div class="modal fade" id="create-event">
    <div class="modal-dialog ui-block window-popup create-event">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Thêm thời gian rảnh rỗi</h6>
        </div>

        <div class="ui-block-content">

            <div class="form-group date-time-picker label-floating">
                <label class="control-label">Ngày</label>
                <input name="datetimepicker" id="datetimepicker" value="">
                <span class="input-group-addon">
                    <svg class="olymp-calendar-icon icon"><use xlink:href="content/icons/icons.svg#olymp-calendar-icon"></use></svg>
                </span>
            </div>

            <div class="row calendar">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Khoảng thời gian</label>
                        <select class="selectpicker form-control" size="auto">
                            <option value="06-07">06AM - 07AM</option>
                            <option value="07-08">07AM - 08AM</option>
                            <option value="08-09">08AM - 09AM</option>
                            <option value="09-10">09AM - 10AM</option>
                            <option value="11-12">11AM - 12PM</option>
                            <option value="12-13">12PM - 13PM</option>
                            <option value="13-14">13PM - 14PM</option>
                            <option value="14-15">14PM - 15PM</option>
                            <option value="15-16">15PM - 16PM</option>
                            <option value="16-17">16PM - 17PM</option>
                            <option value="17-18">17PM - 18PM</option>
                            <option value="18-19">18PM - 19PM</option>
                            <option value="19-20">19PM - 20PM</option>
                            <option value="20-21">20PM - 21PM</option>
                            <option value="21-22">21PM - 22PM</option>
                            <option value="22-23">22PM - 23PM</option>
                            <option value="23-24">23PM - 24AM</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">AM-PM</label>
                        <select class="selectpicker form-control" size="auto">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-breez btn-lg full-width">Create Event</button>

        </div>

    </div>
</div>
<!-- ... end Window-popup Create Event -->

<script>
    $("th.fc-day-header.fc-widget-header").click(function () {
        $(".day-number").text($(this).attr("data-date"));
        $(".card").remove();
        $("#calendar-list .no-past-events").remove();
        var title = $(this).attr("data-title");
        var timeList = $("span.event-status." + title + ".completed").closest("tr");
        var time;
        for (i = 0; i < timeList.length; i++) {
            time = $(timeList[i]).find(".fc-axis span").text();
            $("#calendar-list").append("<div class='card' style='display:none'><div class='card-header' role='tab'><div class='event-time'><time>" + time + "</time><div class='more'><svg class='olymp-three-dots-icon'><use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='content/icons/icons.svg#olymp-three-dots-icon'></use></svg><ul class='more-dropdown'><li> <a href='#'>Xóa khung giờ này</a></li> </ul></div></div></div></div>");
            $(".card").slideDown();
        }
        if ($(".card").length == 0) {
            $("#calendar-list").append("<div class='no-past-events' style='padding: 65px 30px;'><svg class='olymp-month-calendar-icon'><use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='content/icons/icons.svg#olymp-month-calendar-icon'></use></svg><span>Chưa có thời gian rảnh!</span></div>");
        }
    })
    function getWeek(fromDate) {
        var sunday = new Date(fromDate.setDate(fromDate.getDate() - fromDate.getDay()))
           , result = [new Date(sunday)];
        while (sunday.setDate(sunday.getDate() + 1) && sunday.getDay() !== 0) {
            result.push(new Date(sunday));
        }
        return result;
    }
    function getDay(date) {
        var today = date;
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        return [mm + '/' + dd + '/' + yyyy, dd + '/' + mm + '/' + yyyy];
    }
    $(document).ready(function () {
        $("td.fc-widget-content").off();
        var days = ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'];
        var today = getDay(new Date());
        ddmm = today[1];
        mmdd = today[0];
        $(".day-number").text(ddmm);
        $("#datetimepicker").attr("value", ddmm);
        var dayTitle = new Date(mmdd);
        var dayName = days[dayTitle.getDay()] + ", ngày " + dayTitle.getDate() + " tháng " + (dayTitle.getMonth() + 1);
        $(".fc-center .date").html(dayName + "<span>, " + new Date(mmdd).getFullYear() + "</span>");
        var week = getWeek(new Date(mmdd));
        $("th.fc-day-header").each(function (index) {
            $(this).attr("data-date", getDay(week[index])[1]);
            if ($(this).attr("data-date") == ddmm) {
                $(this).click();
            }
        })
    })
</script>
