
    <div class="main-header">
        <div class="content-bg-wrap">
            <div class="content-bg bg-music"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                    <div class="main-header-content">
                        <h1>Nghe nhạc cũng là một cách học<br /> Tiếng Anh!</h1>
                        <p>
                            Hãy nghe và cảm nhận các danh sách nhạc tuyệt vời của Olympus.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <img class="img-bottom" src="content/images/music-bottom.png" alt="friends">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <div class="h6 title">Playlist được tuyển chọn bởi đội ngũ biên tập viên Olympus...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Nhạc hot tháng này</h6>
                    </div>

                    <ol class="widget w-playlist">
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist6.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Dance With Me</a>
                                <a href="#" class="composition-author">Nouvelle Vague</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:40</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist7.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Havana</a>
                                <a href="#" class="composition-author">Camila Cabello ft. Young Thug</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:38</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist8.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">How Long</a>
                                <a href="#" class="composition-author">Charlie Puth</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:18</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist9.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">James Has Changed</a>
                                <a href="#" class="composition-author">Phoebe Ryan</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:23</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist10.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Starry Starry Night</a>
                                <a href="#" class="composition-author">Lianne La Havas</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:43</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist11.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Enchanté (Carine)</a>
                                <a href="#" class="composition-author">Fergie, Axl Jack</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:27</time>
                            </div>

                        </li>
                    </ol>

                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Nghe và cảm nhận</h6>
                    </div>

                    <ol class="widget w-playlist">
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist9.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">James Has Changed</a>
                                <a href="#" class="composition-author">Phoebe Ryan</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:23</time>
                            </div>

                        </li>

                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist6.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Dance With Me</a>
                                <a href="#" class="composition-author">Nouvelle Vague</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:40</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist11.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Enchanté (Carine)</a>
                                <a href="#" class="composition-author">Fergie, Axl Jack</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:27</time>
                            </div>

                        </li>

                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist7.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Havana</a>
                                <a href="#" class="composition-author">Camila Cabello ft. Young Thug</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:38</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist10.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Starry Starry Night</a>
                                <a href="#" class="composition-author">Lianne La Havas</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:43</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist8.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">How Long</a>
                                <a href="#" class="composition-author">Charlie Puth</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:18</time>
                            </div>

                        </li>

                    </ol>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Nhạc bất hủ</h6>
                    </div>

                    <ol class="widget w-playlist">
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist11.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Enchanté (Carine)</a>
                                <a href="#" class="composition-author">Fergie, Axl Jack</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:27</time>
                            </div>

                        </li>

                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist6.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Dance With Me</a>
                                <a href="#" class="composition-author">Nouvelle Vague</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:40</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist9.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">James Has Changed</a>
                                <a href="#" class="composition-author">Phoebe Ryan</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:23</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist7.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Havana</a>
                                <a href="#" class="composition-author">Camila Cabello ft. Young Thug</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:38</time>
                            </div>

                        </li>

                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist10.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Starry Starry Night</a>
                                <a href="#" class="composition-author">Lianne La Havas</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:43</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist8.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">How Long</a>
                                <a href="#" class="composition-author">Charlie Puth</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:18</time>
                            </div>

                        </li>

                    </ol>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Bảng xếp hạng lượt nghe</h6>
                    </div>

                    <ol class="widget w-playlist">
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist6.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Dance With Me</a>
                                <a href="#" class="composition-author">Nouvelle Vague</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:40</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist11.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Enchanté (Carine)</a>
                                <a href="#" class="composition-author">Fergie, Axl Jack</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:27</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist7.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Havana</a>
                                <a href="#" class="composition-author">Camila Cabello ft. Young Thug</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:38</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist9.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">James Has Changed</a>
                                <a href="#" class="composition-author">Phoebe Ryan</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:23</time>
                            </div>

                        </li>
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist10.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">Starry Starry Night</a>
                                <a href="#" class="composition-author">Lianne La Havas</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">04:43</time>
                            </div>

                        </li>

                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="CHƠI NHẠC">
                                <img src="content/images/playlist8.jpg" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                                </a>
                            </div>

                            <div class="composition">
                                <a href="#" class="composition-name">How Long</a>
                                <a href="#" class="composition-author">Charlie Puth</a>
                            </div>

                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">03:18</time>
                            </div>

                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <div class="h6 title">Giải trí với các Video lời dịch từ chúng tôi...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video10.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=d_izVuSk_Lk" class="play-video">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">Only love - Trademark</a>
                        <time class="published" datetime="2017-03-24T18:18">18:44</time>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video11.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=KBmcdVyF7qk" class="play-video play-video--small">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">I Want It That Way - Backstreet Boys</a>
                        <time class="published" datetime="2017-03-24T18:18">13:19</time>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video12.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=L66bOF3dUYs" class="play-video">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">The Day You Went Away - M2M</a>
                        <time class="published" datetime="2017-03-24T18:18">15:47</time>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video13.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=mTSOwdcefQw" class="play-video play-video--small">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">Safe And Sound -Taylor Swift</a>
                        <time class="published" datetime="2017-03-24T18:18">0:23</time>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video14.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=-IptS26d36Y" class="play-video play-video--small">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">Cry On My Shoulder - Super Star</a>
                        <time class="published" datetime="2017-03-24T18:18">0:23</time>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video15.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=tFuWRRne-Oo" class="play-video play-video--small">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">Everytime we touch - Cascada</a>
                        <time class="published" datetime="2017-03-24T18:18">0:23</time>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video16.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=E7UlemBSoYw" class="play-video play-video--small">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">Say You Will - Tokyo Square</a>
                        <time class="published" datetime="2017-03-24T18:18">0:23</time>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block video-item">
                    <div class="video-player">
                        <img src="content/images/video17.jpg" alt="photo">
                        <a href="https://www.youtube.com/watch?v=P7T-PJD_M3U" class="play-video play-video--small">
                            <svg class="olymp-play-icon"><use xlink:href="content/icons/icons.svg#olymp-play-icon"></use></svg>
                        </a>
                        <div class="overlay overlay-dark"></div>

                        
                    </div>

                    <div class="ui-block-content video-content">
                        <a href="#" class="h6 title">Rhythm Of The Rain - The Cascades</a>
                        <time class="published" datetime="2017-03-24T18:18">0:23</time>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="window-popup playlist-popup">

        <a href="#" class="icon-close js-close-popup" onclick='$(" #mediaplayer").attr("src", "" );'>
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <table class="playlist-popup-table">

            <thead>

                <tr>

                    <th class="play">
                        PLAY
                    </th>

                    <th class="cover">
                        COVER
                    </th>

                    <th class="song-artist">
                        BÀI HÁT / CA SĨ
                    </th>

                    <th class="album">
                        ALBUM
                    </th>

                    <th class="released">
                        PHÁT HÀNH
                    </th>

                    <th class="duration">
                        THỜI GIAN
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="content/images/playlist6.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist composition">
                        <div class="composition">
                            <a href="#" class="composition-name">Dance With Me</a>
                            <a href="#" class="composition-author">Nouvelle Vague</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Dance With Me</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">03:40</time>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="content/images/playlist7.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist composition">
                        <div class="composition">
                            <a href="#" class="composition-name">Havana</a>
                            <a href="#" class="composition-author">Camila Cabello ft. Young Thug</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Havana</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2017</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">03:38</time>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="content/images/playlist8.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist composition">
                        <div class="composition">
                            <a href="#" class="composition-name">How Long</a>
                            <a href="#" class="composition-author">Charlie Puth</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">How Long</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2017</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">03:18</time>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="content/images/playlist9.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist composition">
                        <div class="composition">
                            <a href="#" class="composition-name">James Has Changed</a>
                            <a href="#" class="composition-author">Phoebe Ryan</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition ">Phoebe Ryan EP</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2017</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">03:23</time>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="content/images/playlist10.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist composition">
                        <div class="composition">
                            <a href="#" class="composition-name">Starry Starry Night</a>
                            <a href="#" class="composition-author">Lianne La Havas</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Loving Vincen OST</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2017</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">04:43</time>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big"><use xlink:href="content/icons/icons-music.svg#olymp-music-play-icon-big"></use></svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="content/images/playlist11.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist composition">
                        <div class="composition">
                            <a href="#" class="composition-name">Enchanté (Carine)</a>
                            <a href="#" class="composition-author">Fergie, Axl Jack</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Enchanté</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2017</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">04:27</time>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>

        <audio id="mediaplayer" data-showplaylist="true">
            <source src="content/mp3/Dance With Me - Nouvelle Vague.mp3"
                    title="Dance With Me - Nouvelle Vague"
                    data-poster="track6.png" type="audio/mpeg">
            <source src="content/mp3/Havana - Camila Cabello ft. Young Thug.mp3" 
                    title="Havana - Camila Cabello ft. Young Thug" 
                    data-poster="track7.png" type="audio/mpeg">
            <source src="content/mp3/How Long - Charlie Puth.mp3"
                    title="How Long - Charlie Puth"
                    data-poster="track8.png" type="audio/mpeg">
            <source src="content/mp3/James Has Changed - Phoebe Ryan.mp3" 
                    title="James Has Changed - Phoebe Ryan" data-poster="track9.png" type="audio/mpeg">
            <source src="content/mp3/Starry Starry Night - Lianne La Havas.mp3" 
                    title="Starry Starry Night - Lianne La Havas" data-poster="track10.png" type="audio/mpeg">
            <source src="content/mp3/Enchanté (Carine) - Fergie, Axl Jack"
                    title="Enchanté (Carine)- Fergie, Axl Jack" data-poster="track11.png" type="audio/mpeg">
        </audio>

    </div>

<script>
    function mediaplayer() {
        $(".mejs-button.mejs-playpause-button").click();
        $("#mediaplayer source").each(function (index) {
            if ($(this).attr("src") == $("#mediaplayer").attr("src")) {
                $(this).addClass("current");
            }
        });
    }

    $(".playlist-popup-table a.play-icon").click(function () {
        var mp3 = $(this).parent(".play").next().next(".composition");
        var name = $(mp3).find(".composition-name").text() + " - " + $(mp3).find(".composition-author").text() + ".mp3"
        $("#mediaplayer").attr("src", "content/mp3/" + name);
        mediaplayer();
    });
    $("ol.widget.w-playlist .playlist-thumb").click(function () {
        var mp3 = $(this).next(".composition");
        var name = $(mp3).find(".composition-name").text() + " - " + $(mp3).find(".composition-author").text() + ".mp3"
        $("#mediaplayer").attr("src", "content/mp3/" + name);
        mediaplayer();
    });
    $(document).on("click", ".mejs-button.mejs-playlist-plugin-button.mejs-nexttrack-button.mejs-nexttrack", function () {
        var name = $("source.current").next().attr("src");
        $("source.current").removeClass("current");
        $("#mediaplayer").attr("src", name);
        mediaplayer();
    });
    $(document).on("click", ".mejs-button.mejs-playlist-plugin-button.mejs-prevtrack-button.mejs-prevtrack", function () {
        var name = $("source.current").prev().attr("src");
        $("source.current").removeClass("current");
        $("#mediaplayer").attr("src", name);
        mediaplayer();
    });
</script>