@{
    List<Framework.Model.PostType> listType = ViewBag.ListPostType;
}

<!-- Right Sidebar -->
<aside class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="ui-block activity">
        <div class="ui-block-title">
            <h6 class="title">Lĩnh vực câu hỏi</h6>
        </div>

        <ul class="widget w-friend-pages-added notification-list friend-requests">
            @{
                int i = 0;
                foreach (var item in listType)
                {
                    i++;
                    <li class="inline-items ">
                        <div class="author-thumb">
                            @Html.Raw("<img src='content/images/icon-chat" + i + ".png' alt='author'>")
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">@item.Name</a>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="YÊU THÍCH">
                            <a>
                                <svg class="olymp-star-icon"><use xlink:href="content/icons/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
</aside>

<!-- ... end Right Sidebar -->
