<div class="main-header">
    <div class="content-bg-wrap">
        <div class="content-bg bg-birthday"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                <div class="main-header-content">
                    <h1>OLYMPUS DICTIONARY</h1>
                    <p>
                        <div class="form-group col-md-6 dictionary-keyword">
                            <input class="form-control" type="text" placeholder="Nhập từ khóa">
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>