@model Framework.ViewModels.OldWordsViewModel

<script>
    document.title = "Danh sách từ nhắc nhở | Olympus";
    scrollto("#partial");
</script>

<div class="ui-block">
    <article class="hentry blog-post single-post single-post-v1">
        <a href="#" id="to_dictionary" onclick="$('#normal-form input#submit').click(); window.history.pushState('', '', window.location.pathname + '?option=dictionaries');" class="post-category bg-primary">Olymbus Dictionary</a>
        <div class="dictionary-title">
            <h1 class="post-title">Danh sách từ cần học</h1>
        </div>

        <div class="post-content-wrap">
            <div class="post-content">
                @if (Model.ListOldWords.Count != 0)
                {
                    <ol class="old-words">
                        @foreach (var oldWord in @Model.ListOldWords)
                        {
                            <li>
                                <h5><a onclick="$('#keyword').val('@oldWord.m_Voca');$('#to_dictionary').click()">@oldWord.m_Voca</a></h5>
                                <div class="more">
                                    <a class="remove-word" id="old_word_@oldWord.m_Voca">
                                        <svg class="olymp-little-delete" data-toggle="tooltip" data-placement="right" data-original-title="Xóa @oldWord.m_Voca"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="content/icons/icons.svg#olymp-little-delete"></use></svg>
                                    </a>
                                </div>
                            </li>
                        }
                    </ol>
                }
                else
                {
                    <div class="landing-main-content">
                        <h2 class="title">Rất tiếc, không tìm thấy</h2>
                        <p>Có vẻ như bạn chưa có từ nào trong danh sách yêu thích</p>
                    </div>
                }
            </div>
        </div>
    </article>
</div>

<script>
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    $(document).on("click", ".remove-word", function () {
        $(this).closest("li").fadeOut("fast");
        var data = { Voca: $(this).attr("id").replace("old_word_","") }
        $.post('/Dictionary/saveWord?Voca=', data).done(function (response) {
            if (response.result == "False") {
            }
            else {
                $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!");
                $("#notify-button").click();
            }
        }).fail(function (response) {
            $("#notify .ui-block-content p").html("Thành thật xin lỗi. <br/>Hình như có lỗi gì đó rồi, thử lại sau nhé!!!")
            $("#notify-button").click();
        })
    });
</script>