@model Framework.ViewModels.OldWordsViewModel

<script>
    document.title = "Từ đã tra | Olympus";
</script>

<div class="ui-block">
    <article class="hentry blog-post single-post single-post-v1">
        <a href="#" onclick="$('#normal-form input#submit').click(); window.history.pushState('', '', window.location.pathname + '?option=dictionaries');" class="post-category bg-primary">Olymbus Dictionary</a>
        <div class="dictionary-title">
            <h1 class="post-title">Các từ đã tra</h1>
        </div>

        <div class="post-content-wrap">
            <div class="post-content">
                <ol class="old-words">
                    @foreach (var oldWord in @Model.ListOldWords)
                    {
                        <li>
                            <h5><a href="" target="_blank">@oldWord.m_Voca</a></h5>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </article>
</div>