<div class="waiting_loader" style="display: none"></div>
<script src="content/js/responsivevoice.js"></script>

@Html.Partial("_Header")

<div class="container negative-margin-top150">
    <div class="col-xl-8 offset-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="partial">
        </div>
    </div>
</div>


<script>
    function getview(action) {
        if ($(".fakeloader").css("display") == "none") {
            $(".waiting_loader").css("display", "block");
        }
        var url = "/Dictionary/" + action;
        $("#partial").load(url, function (response, status, xhr) {
            if (status == "success") {
                $(".waiting_loader").css("display", "none");
                window.history.pushState('', '', window.location.pathname + "?option=" + action.toLowerCase());
                initInput();
            }
        });
    }

    var option = getQueryVariable("option");
    getview(option);
</script>