@model Framework.ViewModels.NewsFeedViewModel

<script>
    document.title = "Trang cá nhân | Olympus";
</script>

<div class="container">
    <div class="row">

        <!-- Main Content -->

        <div class="col-xl-6 push-xl-3 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">

        </div>

        <!-- ... end Main Content -->
        <!-- Left Sidebar -->

        <div class="col-xl-3 pull-xl-6 col-lg-6 pull-lg-0 col-md-6 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Tự bạch</h6>
                </div>
                <div class="ui-block-content">
                    <ul class="widget w-personal-info item-block">
                        <li>
                            <span class="title">Về tôi</span>
                            @if (Model.About != null)
                            {
                                <span class="text">@Model.About</span>
                            }
                            else
                            {
                                <span class="text">Chào, tôi là @Model.LastName!</span>
                            }
                        </li>

                        @if (Model.Degree == "giaosu")
                        {
                            <li>
                                <span class="title">Trình độ</span>
                                <span class="text">Giáo sư</span>
                            </li>
                            <li>
                                <span class="title">Lĩnh vực</span>
                                <span class="text">Ngữ pháp tiếng Anh</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <span class="title">Trình độ</span>
                                <span class="text">Đại học</span>
                            </li>
                            <li>
                                <span class="title">Mục tiêu</span>
                                <span class="text">Giao tiếp một cách ngon lành!</span>
                            </li>
                        }
                        @if (Model.Id == Model.User.Id)
                        {
                            <li>
                                <span class="title" data-toggle="tooltip" data-placement="right" data-original-title="Dùng để kết nối với Bot">Token</span>
                                <a href="#" onclick="copyToClipboard('span#token')" data-toggle="modal" data-target="#token" class="text">Nhấp để lấy Token</a>
                            </li>
                        }
                    </ul>

                    <div class="widget w-socials">
                        <h6 class="title">Mạng xã hội khác</h6>
                        <a href="@Model.Facebook" class="social-item bg-facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            Facebook
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- ... end Left Sidebar -->
        <!-- Right Sidebar -->

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Bạn bè (86)</h6>
                </div>
                <div class="ui-block-content">
                    <ul class="widget w-faved-page js-zoom-gallery">
                        <li>
                            <a href="#">
                                <img src="content/images/avatar38-sm.jpg" alt="author">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar24-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar36-sm.jpg" alt="author">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar35-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar34-sm.jpg" alt="author">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar33-sm.jpg" alt="author">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar32-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar31-sm.jpg" alt="author">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar30-sm.jpg" alt="author">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar29-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar28-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar27-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar26-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="content/images/avatar25-sm.jpg" alt="user">
                            </a>
                        </li>
                        <li class="all-users">
                            <a href="#">+74</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ... end Right Sidebar -->
    </div>
</div>

<!-- Window-popup Report -->

<div class="modal fade" id="token">
    <div class="modal-dialog ui-block window-popup edit-widget edit-widget-twitter">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Thông báo</h6>
        </div>

        <div class="ui-block-content">
            <p>
                Đã lưu Token của bạn vào bộ nhớ tạm!
            </p>
            <p>
                Nhấp OK để kết nối với Bot bạn nhé!
            </p>
            <span id="token" style="display: none">@Model.Id</span>
            <div class="modal-button">
                <a href="#" class="btn btn-secondary btn-lg btn--half-width btn-icon-center" data-dismiss="modal" aria-label="Close">Bỏ qua</a>
                <a href="https://www.messenger.com/t/SEUITEnglish" target="_blank" class="btn btn-primary btn-lg btn--half-width btn-icon-center">OK</a>
            </div>
        </div>

    </div>
</div>

<!-- ... end Window-popup Report -->


<script>
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>