        <!-- Right Sidebar -->

<aside class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">


    <div class="ui-block">

        <div class="ui-block-title">
            <h6 class="title">Hoạt động</h6>
        </div>

        <ul class="widget w-activity-feed notification-list">
            <li>
                <a onclick="scrollto('#post_1')">
                    <div class="author-thumb tieuhoc">
                        <img src="content/images/author-page.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                        <span class="name"> Thịnh Phan</span> đã đăng câu hỏi mới.
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">2 phút trước</time></span>
                    </div>
                </a>
            </li>

            <li>
                <a onclick="scrollto('#post_2')">
                    <div class="author-thumb sinhvien">
                        <img src="content/images/avatar9-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                        <span class="name"> Nguyễn Thanh Thiện </span> thích câu trả lời của <span class="name"> Lê Văn Phú </span>.
                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">5 phút trước</time></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</aside>

<!-- ... end Right Sidebar -->
