@model Framework.ViewModels.CommentViewModel

<li class="new-comment child" style="display: none">
    <div class="post__author author vcard inline-items sinhvien">
        <img src="content/images/author-page.jpg" alt="author">

        <div class="author-date">
            <a class="h6 post__author-name fn" href="#">Thịnh Phan</a>
            <div class="post__date">
                <time class="published" data-time="">

                </time>
            </div>
        </div>

    </div>

    <p>@Model.Comment</p>

    <a href="#" class="post-add-icon inline-items upvote">
        <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
        <span>0</span>
    </a>
    <a href="#" class="post-add-icon inline-items downvote ">
        <svg class="olymp-stats-arrow"><use xlink:href="content/icons/icons.svg#olymp-stats-arrow"></use></svg>
        <span>0</span>
    </a>
</li>

