@model Framework.ViewModels.GrammarViewModel

<script>
    document.title = "Ngữ pháp | Olympus";
</script>

<div class="container">
    <div class="col-xl-8 offset-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ui-block">
            <article class="hentry blog-post single-post single-post-v1">
                <a href="#" class="post-category bg-primary">Ngữ pháp</a>
                <div class="dictionary-title">
                    <h1 class="post-title">Danh sách các bài lí thuyết ngữ pháp</h1>
                </div>

                <div class="post-content-wrap">
                    <div class="post-content">
                        <ol class="old-words">
                            <li>
                                <h5><a href="danh-tu-so-it-so-nhieu.html" target="_blank">Danh từ số ít, số nhiều</a></h5>
                            </li>
                            <li>
                                <h5><a href="danh-tu-dem-duoc-va-danh-tu-khong-dem-duoc.html" target="_blank">Danh từ đếm được và danh từ không đếm được</a></h5>
                            </li>
                            <li>
                                <h5><a href="so-huu-cach.html" target="_blank">Sở hữu cách</a></h5>
                            </li>
                            <li>
                                <h5><a href="dai-tu.html" target="_blank">Đại từ</a></h5>
                            </li>
                            <li>
                                <h5><a href="dong-tu-to-be.html" target="_blank">Động từ “to be”</a></h5>
                            </li>
                            <li>
                                <h5><a href="dong-tu-thuong.html" target="_blank">Động từ thường</a></h5>
                            </li>
                            <li>
                                <h5><a href="tinh-tu.html" target="_blank">Tính từ</a></h5>
                            </li>
                            <li>
                                <h5><a href="trang-tu.html" target="_blank">Trạng từ</a></h5>
                            </li>
                            <li>
                                <h5><a href="hinh-thuc-so-sanh-tinh-tu-va-trang-tu.html" target="_blank">Hình thức so sánh tính từ và trạng từ</a></h5>
                            </li>
                            <li>
                                <h5><a href="cac-thi-co-ban-trong-tieng-anh.html" target="_blank">Các thì cơ bản trong tiếng Anh</a></h5>
                            </li>
                            <li>
                                <h5><a href="the-bi-dong.html" target="_blank">Thể bị động</a></h5>
                            </li>
                            <li>
                                <h5><a href="gioi-tu-on-at.html" target="_blank">Giới từ On, At, In</a></h5>
                            </li>
                        </ol>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>