@model Framework.ViewModels.MultipleChoiceViewModel

<script>
    document.title = "Trắc nghiệm | Olympus";
</script>

<div class="container game-learning">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="check-answer">
                <div id="button-wrapper">
                    <button>
                        <p>Kiểm tra kết quả</p>
                        <div class="fill"></div>
                        <div class="fa fa-check"></div>
                    </button>
                </div>
            </div>
            <div class="ui-block" style="padding: 55px;">
                <div class="listen-group post-content">
                    <h5 style=" color: gray; font-weight: 500; ">Hãy chọn đáp án mà bạn thấy đúng nhất!</h5>
                    <br />
                    <ol class="reading">
                        
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" data-toggle="modal" data-target="#score" style="display: none" id="score-modal"></a>
<!-- Window-popup Score -->
<div class="modal fade" id="score">
    <div class="modal-dialog ui-block window-popup create-friend-group">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="content/icons/icons.svg#olymp-close-icon"></use></svg>
        </a>

        <div class="ui-block-title">
            <h6 class="title">Tổng điểm của bạn</h6>
        </div>

        <div class="ui-block-content">
            <p>Bạn đã đạt đươc <strong style="font-size: 20px;"><span style="color: #ff5e3a;" id="wrong"></span>/4</strong> câu hỏi chính xác!</p>
            <p id="hey"></p>
            <a href="#" class="cancel btn btn-primary btn-lg full-width btn-icon-center" data-dismiss="modal" aria-label="Close">Biết rồi</a>
            <a href="#" class="ok btn btn-primary btn-lg full-width btn-icon-center" onclick="location.reload();">Bài tiếp theo</a>
        </div>

    </div>
</div>
<!-- ... end Window-popup Score -->
